<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/layout :: head}"></th:block>
    <title>Our books</title>
</head>

<body>

    <th:block th:replace="~{fragments/layout :: navbar('books')}"></th:block>

    <main class="container">
        <h1>Books</h1>

        <hr>

        <div class="mb-3 d-flex">
            <a th:href="@{/books/create}" class="me-auto btn btn-primary btn-sm" sec:authorize="hasAuthority('ADMIN')">
                Add a Book to the Archive
            </a>
            <h3 th:text="'Ciao ' + ${username}" />
        </div>

        <!-- <p th:text="${books}"></p> // .toString() automatico quando specificato nel model-->

        <section class="row">
            <div class="col-12">
                <table class="table" th:if="${books.size() > 0}">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Date</th>
                            <th>Copies</th>
                            <th></th>
                            <th sec:authorize="hasAuthority('ADMIN')"></th>
                            <th sec:authorize="hasAuthority('ADMIN')"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="book : ${books}" th:object="${book}">
                            <td>[[*{isbn}]]</td>
                            <td>[[*{title}]]</td>
                            <td>[[*{author}]]</td>
                            <td>[[*{publisher}]]</td>
                            <td>[[*{publicationDate}]]</td>
                            <td>[[*{numberOfCopies}]]</td>
                            <td>
                                <a class="btn btn-dark btn-sm" th:href="@{/books/{id}/borrow (id=*{id})}">Borrow</a>

                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" th:href="@{/books/{id}(id=*{id})}">Show</a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <a class="btn btn-success btn-sm" th:href="@{/books/edit/{id}(id=*{id})}">Edit</a>
                            </td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <!--? Form senza modale,con semplice "bottone"  
                                <form th:action="@{/books/delete/{id}(id=*{id})}" method="post" style="display:inline">
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form> -->


                                <!-- Modal trigger button -->
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + *{id}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>

                                <!-- Modal Body -->
                                <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                                <div class="modal fade" th:id="'delete-modal-' + *{id}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title" id="modalTitleId">
                                                    Deleting "[[*{title}]]"
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the book with title <strong>"[[*{title}]]"</strong>?
                                            </div>
                                            <div class="modal-footer">

                                                <!--, bottone per chiudere la modale senza conseguenze  -->
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                                <!--! vero bottone che fa partire la action di cancellazione chiamando il metodo delete  -->
                                                <form class="d-inline-block" th:action="@{/books/delete/{id}(id=*{id})}" method="post">
                                                    <button class="btn btn-danger" type="submit">
                                                        Permanently delete this Book
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Optional: Place to the bottom of scripts -->
                                <script>
                                    const myModal = new bootstrap.Modal(
                                        document.getElementById("delete-modal"),
                                        options,
                                    );
                                </script>

                            </td>
                        </tr>
                    </tbody>
                </table>


                <p th:unless="${books.size() > 0}" th:text="'No books are available at the moment...'"></p>
            </div>

        </section>


    </main>

    <th:block th:replace=" ~{fragments/layout :: popper}">
    </th:block>
</body>

</html>