<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- > BOOTSTRAP CSS via WebJars -->
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

        <!-- > FONTAWESOME via WebJars -->
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    </div>

    <title>Page Title</title>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar(current)">
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand me-5 pe-5">Spec-Jva: Spring Alexandria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books}">Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- > BOOTSTRAP JS via WebJars -->
    <script th:fragment="popper" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>